
        html{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        html,body{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .fundo {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.2;
            width: 100%;
            height: 635px;
            background: radial-gradient(circle, transparent 20%, #E5E5F7 20%, #E5E5F7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #E5E5F7 20%, #E5E5F7 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#444CF7 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #444CF7 1.6px, #E5E5F7 1.6px) -0.8px 0;
            background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 80px;
            background: #34d;
        }

        nav p{
            color: rgb(240, 246, 255);
            font-weight: 800;
            text-align: center;
            width: 170px;
            padding: 10px;
            border: 1.3px solid #fff;
        }

        nav h2 {
            color: #fff;
        }

        section{
            display: flex;
            justify-content: center;
        }

        .content{
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
            padding: 30px;
            width: 50%;
            height: 370px;
        }

        .content{
            animation: animateBg 10s linear infinite;
            background-image: linear-gradient(25deg,#00eaae, #0077ea, #00eaae, #0077ea, #00eaae);
            background-size: 100% 1100%;
        }
            @keyframes animateBg {
            0% { background-position: 0% 0%; }
            100% { background-position: 0% 100%; }
        }


        @-webkit-keyframes AnimationName {
            0%{background-position:0% 67%}
            50%{background-position:100% 34%}
            100%{background-position:0% 67%}
        }
        @keyframes AnimationName {
            0%{background-position:0% 67%}
            50%{background-position:100% 34%}
            100%{background-position:0% 67%}
        }

        form{
            margin-right: 30px;
            width: 40%;
            height: 300px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        form label{
            color: white;
            text-transform: uppercase;
            font-weight: 500;
        }

        form input[type=text]{
            width: 200px;
            height: 30px;
            margin-top: 5px;
            border: none;
            border-radius: 40px;
            margin-bottom: 30px;
            font-weight: 800;
            color: #686868;
            text-align: center;
            transition: 0.4s;
        }

        form input[type=text]:focus{
            outline:none;
            background: rgb(219, 231, 255);
        }

        button {
            width: 100px;
            height: 40px;
            border-radius: 20px;
            border: none;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: #fff;
            background: #34d;
            transition: 0.2s;
        }

        button:hover {
            background: #36F;
            box-shadow: -1px 4px 5px 0px rgba(4, 8, 48, 0.2);
        }

        button:focus {
            outline: none;
        }

        /* Resultado */
        .resultado {
            width: 45%;
            height: 360px;
            border: 2px solid #fff;
            opacity: 0.2;
        }

        .resultado2 {
            transition: 0.4s;
            width: 45%;
            height: 360px;
            text-align: center;
            background: #fff;
            border-radius: 30px 0 30px 0;
            color: #686868;
            font-weight: 500;
            line-height: 5px;
        }

        .resultado2 p{
            padding-top: 80px;
        }   

        #alert{
            opacity: 0;
            transition: 1s;
            width: 250px;
            height: 40px;
            position: relative;
            top: -60px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            color: white;
        }
        
        .alert{
            opacity: 1 !important;
            width: 300px;
            height: 40px;
            position: relative;
            top: -60px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background: red;
            border-radius: 30px;
            color: white;
        }

        

        @media (max-width: 1024px){
            .fundo {
                height: calc(635px + 261px);
                background-attachment: fixed;
            }
            .content{
                display: block;
                height: auto;
            }

            form{
                width: 100%;
                margin: 0;
                margin-top: 20px;
            }
    
            form input[type=text]{
                width: 80%;
                height: 65px;
                font-size: 1.5rem;
            }

            form button {
                width: 150px;
                height: 70px;
                border-radius: 50px;
            }

            .resultado, .resultado2 {
                width: 90% !important;
                margin: 0 auto;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            
            #alert , .alert{
                top: -430px !important;
                width: 220px;
                height: 60px;
                display: block;
                text-align: center;
            }

            #alert p, .alert p {
                padding-top: 7px;
            }

        }

        @media (max-width: 546px) {
            nav{
                display: flex;
                flex-direction: column;
                height: 100px;
                padding: 20px 0 20px 0;
            }

            nav p{
                font-size: 1.3rem;
                margin: 0 auto;
            }

            nav h2{
                border-top: 2px solid #ccc;
                text-align: center;
                margin: 0;
                margin-top: 8px !important;
            }

            .content {
                margin: 0;
                padding: 5px;
                width: 70%;
            }

        }
